<suite name="OrangeHRMSuite" parallel="classes" thread-count="5">

    <parameter name="browser" value="chrome"/>

    <listeners>
        <listener class-name="com.orangehrm.listeners.TestListener"/>
    </listeners>

    <test name="OrangeHRMTest">
        <classes>
            <class name="com.orangehrm.test.DummyClass"/>
            <class name="com.orangehrm.test.DummyClass2"/>
            <class name="com.orangehrm.test.LoginPageTest"/>
            <class name="com.orangehrm.test.HomePageTest"/>
        </classes>
    </test>

</suite>