<?xml version="1.0" encoding="UTF-8"?>

<suite name="OrangeHRMSuite" parallel="test" thread-count='5'>

    <test name="OrangeHRMTest">

        <classes>
            <class name="com.OrangeHRM.test.DummyTest"/>
            <class name="com.OrangeHRM.test.DummyTest2"/>
            <class name="com.OrangeHRM.test.LoginPageTest"/>
            <class name="com.OrangeHRM.test.HomePageTest"/>
        </classes>

    </test>

</suite>